<div class = "container">
  <h1>商品一覧</h1>
  <div class = "row">
    <%= render 'item_index', items: @items %>
  </div>
  <div class = "row my-2">
    <%= paginate @items, theme: 'bootstrap-5' %>
  </div>

</div>